{# templates/list/index.html.twig #} {% extends 'base.html.twig' %} {% block
    body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-body">
                        <div class="card-header"></div>



                        <table class="table">
                            <tr>
                                <th>Name</th>
                                <th>Binance</th>
                                <th>HitBtc</th>
                                <th>Polo</th>
                                <td>Deviation</td>
                            </tr>
                            {% for coin in coins %}
                                <tr>
                                    <td>{{ coin.name }}</td>
                                    <td>{{ coin.binancePrice }}</td>
                                    <td>{{ coin.hitBtcPrice }}</td>
                                    <td>{{ coin.poloPrice }}</td>

                                    <td></td>
                                </tr>
                            {% endfor %}
                        </table>

                    </div>
                </div>
                {% if app.user == null %}
                    <a href="{{ path('app_login') }}" class="btn btn-info">
                        You need to login to see the list 😜😜 >></a
                    >
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
